---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    <p class="clear-both pb-px">
      I am an experienced technology leader with a proven track record of 20+
      years delivering solutions for customers across the globe.
      <br />
      With a passion for architecture and engineering, I am a people focused leader
      driven by achieving successful outcomes for customers. With experience spanning
      the business and technology domains, past roles have seen him own a profit
      and loss for a consultancy led multi-million-dollar pre-sale bids, managed
      distributed teams, design and deliver enterprise, solution and integration
      architecture across several industry sectors.
    </p>
    <br />
    <p class="clear-both pb-px">
      I have a diverse background and many different workplace experiences,
      enabling architectural development and oversight of multiple teams with
      their own delivery preferences (Traditional or Agile) to work together,
      and understand where value lies in the outcomes and guide the work that
      way.
    </p>
    <br />
    <p class="clear-both pb-px">
      With a pragmatic approach to hybrid technology models, and measured
      approach to risk, I have successfully led multiple projects in the cloud
      and across technology ecosystem.
    </p>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <div class="mb-10 text-justify">
    <h2>Skills Summary</h2>
    <p>
      <h3>Architecture</h3>
      <ul class="list-disc md:columns-5 columns-2 mx-6 pb-px">
        <li>
          Experienced enterprise, cloud, solution and integration architect
        </li>
        <li>
          Knowledge across several domains including infrastructure, data,
          identity, security and applications.
        </li>
        <li>
          Expertise in enterprise integration patterns & practices across a
          variety of CRMs & ERPs such as Dynamics, Salesforce, SAP
        </li>
        <li>
          Skilled using architecture modelling including ArchiMate, UML, BPMN,
          Event Modelling, Event Storming, Risk Storming, Impact Mapping,
          Wardley Mapping
        </li>
        <li>Frameworks Arc42, TOGAF, Zachman, SABSA, COBIT, BABOK, Prince 2</li>
        <li>
          Product experience with Orbus iServer, Sparkx System Enterprise
          Architect and Lean IX
        </li>
      </ul>
    </p>
  </div>
</BaseLayout>
<div class="divider my-0"></div>
<h5>Email me for my latest CV</h5>
