---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    <p class="clear-both pb-px">
      With a passion for architecture and engineering, I am a people focused
      leader driven by achieving successful outcomes for customers. With
      experience spanning the business and technology domains, past roles have
      seen him own a profit and loss for a consultancy led multi-million-dollar
      pre-sale bids, managed distributed teams, design and deliver enterprise,
      solution and integration architecture across several industry sectors.
    </p>

    <p class="clear-both pb-px">
      I have a diverse background and many different workplace experiences,
      enabling architectural development and oversight of multiple teams with
      their own delivery preferences (Traditional or Agile) to work together,
      and understand where value lies in the outcomes and guide the work that
      way.
    </p>

    <p class="clear-both pb-px">
      With a pragmatic approach to hybrid technology models, and measured
      approach to risk, I have successfully led multiple cloud and non-cloud
      projects.
    </p>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6 pb-px">
    <li>Solution Archicture</li>
    <li>Enterprise Integration</li>
    <li>Software Engineering</li>
    <li>Azure, AWS, GCP</li>
    <li>DevSecOps</li>
    <li>FinOps</li>
    <li>MLOps</li>
    <li>Program Leadership</li>
    <li>Agile Delivery</li>
  </ul>
  <br />
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Axurcio"
      subtitle="From January 2023 to Current at Axurcio, Western Australia"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Title Name"
      subtitle="[start year] to [end year] at [Study Center Name], [City], [Country]"
    />
    <TimeLineElement
      title="Title Name"
      subtitle="[start year] to [end year] at [Study Center Name], [City], [Country]"
    />
  </div>
</BaseLayout>
