---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="services">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Services Header</div>
  </div>

  <HorizontalCard
    title="CTO as a Service"
    img="/services/cto-as-a-service.webp"
    desc="Virtually every start-up and organization require a technically sound individual who can spearhead projects and make technical managerial decisions to achieve organizational goals. A Chief Technology Officer (CTO) is the highest technology executive position within a company and leads the technology or engineering department"
    badge="NEW"
    url="https://www.axurcio.com/services"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Architecture"
    img="/services/solution-architect.webp"
    desc="Solution Architecture Assessments & Definitions, Enterprise Strategy, Product Evaluations, Technology Roadmaps"
    url="https://www.axurcio.com/services"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="FinOps"
    img="/services/finops-principles-image_overview-text.svg"
    desc="From multi-cloud cost optimisation to cloud governance"
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Software Engineering"
    img="/services/custom-software.png"
    desc="Bespoke cloud native solutions, low code platforms, CRMs and ERPs"
    url="#"
  />
</BaseLayout>
